@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  color: #ffffff;
  background: none;
  z-index: 1;
}

section.white-section h1,
section.white-section h2,
section.white-section h3,
section.white-section h4,
section.white-section h5,
section.white-section h6,
section.white-section p,
section.white-section a,
section.white-section i {
  color: #111111;
  background-color: #ffffff;
}

h1 {
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  line-height: 1;
}

a,
p {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

/* Text Selection Color */
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

section#about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 3rem;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 6rem;
}

.section-desc {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #aaaaaa;
}

.about-content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  text-align: left;
}

.about-content p {
  flex: 1 1 300px;
  margin: 0;
  line-height: 1.6;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 900px) {
  section .section-title {
    font-size: 4rem;
  }

  section .section-desc {
    font-size: 1rem;
  }
}
